// Colors

$color-body-background: #b2ebf2;
$color-body-text: #dd2c00;
$color-card-background: white;
$color-links: #ff5722;

// Fonts

$font-display: Helvetica;
$font-text: Helvetica, Arial, sans-serif;

$font-size-base: 16px;